http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","abbreviation":"OATABD","commonCropName":"Oat","programName":"Oat-Aberdeen"}]}}'
  recorded_at: 2026-07-07 20:09:23
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","abbreviation":"OATABD","commonCropName":"Oat","programName":"Oat-Aberdeen"}]}}'
  recorded_at: 2026-07-07 20:09:23
recorded_with: VCR-vcr/2.1.0
