http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/ee1b32e6-287f-4412-902e-1bab9e615b97/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"ee1b32e6-287f-4412-902e-1bab9e615b97","abbreviation":"EMPTY","commonCropName":"Sweet
        Potato","programName":"Empty program"}]}}'
  recorded_at: 2026-08-11 19:14:47
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/ee1b32e6-287f-4412-902e-1bab9e615b97/brapi/v2/variables?pageSize=1000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":0,"totalCount":0,"totalPages":1,"currentPage":0}},"result":{}}'
  recorded_at: 2026-08-11 19:14:47
recorded_with: VCR-vcr/2.1.0
