http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/828857d9-f82e-4ede-9ede-621b1440b191/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"828857d9-f82e-4ede-9ede-621b1440b191","abbreviation":"EMPTY","commonCropName":"Alfalfa","programName":"Empty-program"}]}}'
  recorded_at: 2026-07-07 18:53:14
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/828857d9-f82e-4ede-9ede-621b1440b191/brapi/v2/variables?pageSize=1000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":0,"totalCount":0,"totalPages":1,"currentPage":0}},"result":{}}'
  recorded_at: 2026-07-07 18:53:14
recorded_with: VCR-vcr/2.1.0
