http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/69af8c41-391b-4c56-9944-9c0700a89efa/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"69af8c41-391b-4c56-9944-9c0700a89efa","abbreviation":"EMPTYB","commonCropName":"Blueberry","programName":"Empty
        Program B"}]}}'
  recorded_at: 2026-09-28 13:45:38
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/69af8c41-391b-4c56-9944-9c0700a89efa/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"69af8c41-391b-4c56-9944-9c0700a89efa","abbreviation":"EMPTYB","commonCropName":"Blueberry","programName":"Empty
        Program B"}]}}'
  recorded_at: 2026-09-28 13:45:38
recorded_with: VCR-vcr/2.1.0
