http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/ee1b32e6-287f-4412-902e-1bab9e615b97/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"ee1b32e6-287f-4412-902e-1bab9e615b97","abbreviation":"EMPTY","commonCropName":"Sweet
        Potato","programName":"Empty program"}]}}'
  recorded_at: 2026-08-11 19:14:47
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/ee1b32e6-287f-4412-902e-1bab9e615b97/brapi/v2/germplasm?pageSize=10000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"totalCount":0,"pageSize":10000,"totalPages":0,"currentPage":0},"status":[{"messageType":"INFO","message":"Query
        Successful"}]},"result":{"data":[]}}'
  recorded_at: 2026-08-11 19:14:47
recorded_with: VCR-vcr/2.1.0
