http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","abbreviation":"OATABD","commonCropName":"Oat","programName":"Oat-Aberdeen"}]}}'
  recorded_at: 2026-07-07 20:34:00
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/germplasm?pageSize=10000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"totalCount":40,"pageSize":10000,"totalPages":1,"currentPage":0},"status":[{"messageType":"INFO","message":"Query
        Successful"}]},"result":{"data":[{"germplasmDbId":"fae4af7a-532c-4be1-9c0e-9f4c7b30668a","accessionNumber":"38","additionalInfo":{"createdBy":{"userId":"9381a364-4cc0-4782-a3e3-5a4208659c1b","userName":"Tyr
        Wiesner-Hanks"},"createdDate":"03/12/2025 15:53:42","breedingMethod":"Single
        seed descent","breedingMethodId":"01ca6899-a79e-479b-a9f6-27cb6f06a6d8","importEntryNumber":"38","rawPedigree":"","pedigreeByName":"","pedigreeByUUID":""},"breedingMethodDbId":"01ca6899-a79e-479b-a9f6-27cb6f06a6d8","commonCropName":"Oat","defaultDisplayName":"SD
        Buffalo","externalReferences":[{"referenceId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceID":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceSource":"breedinginsight.org/programs"},{"referenceId":"7b874d49-01eb-4d9d-ad64-1202e8c17084","referenceID":"7b874d49-01eb-4d9d-ad64-1202e8c17084","referenceSource":"breedinginsight.org"}],"germplasmName":"SD
        Buffalo","seedSource":"internal"},{"germplasmDbId":"c66a6ca6-041a-4263-a8f2-b1efa1084e71","accessionNumber":"34","additionalInfo":{"createdBy":{"userId":"9381a364-4cc0-4782-a3e3-5a4208659c1b","userName":"Tyr
        Wiesner-Hanks"},"createdDate":"03/12/2025 15:53:42","breedingMethod":"Single
        seed descent","breedingMethodId":"01ca6899-a79e-479b-a9f6-27cb6f06a6d8","importEntryNumber":"34","rawPedigree":"","pedigreeByName":"","pedigreeByUUID":""},"breedingMethodDbId":"01ca6899-a79e-479b-a9f6-27cb6f06a6d8","commo[...]
