http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","abbreviation":"OATABD","commonCropName":"Oat","programName":"Oat-Aberdeen"}]}}'
  recorded_at: 2026-08-11 19:20:42
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/variables?pageSize=1000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":21,"totalCount":21,"totalPages":1,"currentPage":0}},"result":{"data":[{"observationVariableDbId":"1b10ddf9-3e55-4d3a-8606-87793b874d9a","observationVariableName":"Yield","method":{"methodDbId":"af9461c3-27ce-4ed6-a2e4-47bb5ecee6b2","methodClass":"Measurement","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"}},"scale":{"dataType":"Numerical","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"},"scaleName":"g/m2","validValues":{"min":0},"scaleDbId":"eb37e2dd-34c4-4bae-b99e-30faa4913ffd"},"status":"active","synonyms":["Yield","Grain
        yield - g/m2"],"trait":{"attribute":"yield","entity":"Plot","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"},"status":"active","synonyms":["Yield","Grain
        yield - g/m2"],"traitName":"Yield","traitDbId":"1b10ddf9-3e55-4d3a-8606-87793b874d9a"}},{"observationVariableDbId":"d9893e3c-3c81-4be6-bdde-d20e8611a178","observationVariableName":"KernelLWRatioAve","method":{"methodDbId":"0215342f-4223-45cf-9157-5c1ce08c4d0f","methodClass":"Measurement","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"}},"scale":{"dataType":"Numerical","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"},"scaleName":"mm/mm","validValues":{"min":0},"scaleDbId":"f17240a2-bc49-44f6-9f0f-817f95f74934"},"status":"active","synonyms":["KernelLWRatioAve","Whole
        kernel average length/width ratio - mm/mm"],"trait":{"attribute":"Length-width
        ratio","entity":"Kernel","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"},"status":"active","synonyms":["KernelLWRatioAve","Whole
        kernel average length/width ratio - mm/mm"],"traitName":"KernelLWRatioAve","traitDbId":"d9893e3c-3c81-4be6-bdde-d20e8611a178"}},{"observationVariableDbId":"1bdba7e2-15d1-4d01-aeb3-8136d6a19dbe","observationVariableName":"GrainThinPer","method":{"methodDbId":"f256ec78-d69f-4603-af00-cd8ece8dbca7","methodClass":"Measurement","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"}},"scale":{"dataType":"Numerical","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"},"scaleName":"%","validValues":{"max":100,"min":0},"scaleDbId":"9e18711e-53bd-485c-b774-1d50eab2662e"},"status":"active","synonyms":["GrainThinPer","Grain
        plumpness - 5.0/64 thin - %"],"trait":{"attribute":"thins percent","entity":"Grain","ontologyReference":{"ontologyDbId":"efe6fdf8-bdb4-42de-83db-2a956489fcf7"},"status":"active","synonyms":["GrainThinPer","Grain
        plumpness - 5.0/64 thin - %"],"traitName":"GrainThinPer","traitDbId":"1bdba7e2-15d1-4d01-aeb3-8136d6a19dbe"}},{"observationVariableDbId":"c3795a1b-4c56-4a5[...]
