http_interactions:
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/programs
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1,"totalCount":1,"totalPages":1,"currentPage":0}},"result":{"data":[{"programDbId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","abbreviation":"OATABD","commonCropName":"Oat","programName":"Oat-Aberdeen"}]}}'
  recorded_at: 2026-08-11 19:18:11
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/observationunits?pageSize=10000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":254,"totalCount":254,"totalPages":1,"currentPage":0}},"result":{"data":[{"observationUnitDbId":"b20f6f0d-92b6-4080-aaac-cfd253cd46a7","additionalInfo":{"gid":"7","germplasmId":"6b04108a-d40f-40f2-b385-1e861b19df24"},"externalReferences":[{"referenceId":"433812ee-4c87-42cf-aa45-baeb182b7220","referenceID":"433812ee-4c87-42cf-aa45-baeb182b7220","referenceSource":"breedinginsight.org/dataset"},{"referenceId":"0345d5b0-bc09-4e98-bbf3-d1caea2fa548","referenceID":"0345d5b0-bc09-4e98-bbf3-d1caea2fa548","referenceSource":"breedinginsight.org/studies"},{"referenceId":"b20f6f0d-92b6-4080-aaac-cfd253cd46a7","referenceID":"b20f6f0d-92b6-4080-aaac-cfd253cd46a7","referenceSource":"breedinginsight.org/observationunits"},{"referenceId":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceID":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceSource":"breedinginsight.org/trials"},{"referenceId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceID":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceSource":"breedinginsight.org/programs"}],"germplasmDbId":"6b04108a-d40f-40f2-b385-1e861b19df24","germplasmName":"IL15-5752","locationDbId":"eb845a8a-7c7d-40d0-8aa9-83529d88aa45","locationName":"Urbana,
        IL","observationUnitName":"205","observationUnitPosition":{"entryType":"TEST","observationLevel":{"levelNameDbId":"7a232ae3-3b1d-4464-8074-0ff0daf011ec","levelName":"plot","levelOrder":0,"programDbId":"c0ffa63c-64b1-4581-b22d-8cd3576138fe","programName":"Oat-Aberdeen
        (OATABD)","levelCode":"205"},"observationLevelRelationships":[{"levelNameDbId":"172808ee-6b1c-4afb-a788-e7b8c64a2ff6","levelName":"rep","levelOrder":3,"levelCode":"1"},{"levelNameDbId":"72402383-3dce-49b7-8486-3f22358758d3","levelName":"block","levelOrder":4,"levelCode":"1"}],"positionCoordinateX":"2","positionCoordinateXType":"GRID_ROW","positionCoordinateY":"9","positionCoordinateYType":"GRID_COL"},"programDbId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","programName":"Oat-Aberdeen","studyDbId":"0345d5b0-bc09-4e98-bbf3-d1caea2fa548","studyName":"UEOPN_2022_Urbana","trialDbId":"73d95dac-9a0a-4982-967e-8cc396375cdc","trialName":"Uniform
        Oat Performance Nursery"},{"observationUnitDbId":"038631df-9fac-47b4-88b9-193ef2dd56f2","additionalInfo":{"gid":"20","germplasmId":"35b62303-973b-4af5-b3ee-bcfd3d278372"},"externalReferences":[{"referenceId":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceID":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceSource":"breedinginsight.org/trials"},{"referenceId":"433812ee-4c87-42cf-aa45-baeb182b7220","referenceID":"433812ee-4c87-42cf-aa45-baeb182b7220","referenceSource":"breedingi[...]
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/trials?pageSize=10000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"totalCount":1,"pageSize":10000,"totalPages":1,"currentPage":0},"status":[{"messageType":"INFO","message":"Query
        Successful"}]},"result":{"data":[{"trialDbId":"73d95dac-9a0a-4982-967e-8cc396375cdc","active":true,"additionalInfo":{"datasets":[{"id":"433812ee-4c87-42cf-aa45-baeb182b7220","name":"plot","level":"0"}],"createdBy":{"userId":"9381a364-4cc0-4782-a3e3-5a4208659c1b","userName":"Tyr
        Wiesner-Hanks"},"createdDate":"2025-12-03","experimentType":"RCBD","experimentNumber":"1","defaultObservationLevel":"plot"},"commonCropName":"Oat","externalReferences":[{"referenceId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceID":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceSource":"breedinginsight.org/programs"},{"referenceId":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceID":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceSource":"breedinginsight.org/trials"}],"programDbId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","programName":"Oat-Aberdeen
        (OATABD)","trialDescription":"The Uniform Oat Performance Nursery","trialName":"Uniform
        Oat Performance Nursery"}]}}'
  recorded_at: 2026-08-11 19:18:11
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/studies?pageSize=10000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"totalCount":4,"pageSize":10000,"totalPages":1,"currentPage":0},"status":[{"messageType":"INFO","message":"Query
        Successful"}]},"result":{"data":[{"studyDbId":"2743f8e6-fef9-4297-8dee-ec107edd1f74","active":true,"additionalInfo":{"environmentNumber":"1"},"commonCropName":"Oat","experimentalDesign":{"pui":"Analysis","PUI":"Analysis","description":"Analysis"},"externalReferences":[{"referenceId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceID":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceSource":"breedinginsight.org/programs"},{"referenceId":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceID":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceSource":"breedinginsight.org/trials"},{"referenceId":"2743f8e6-fef9-4297-8dee-ec107edd1f74","referenceID":"2743f8e6-fef9-4297-8dee-ec107edd1f74","referenceSource":"breedinginsight.org/studies"}],"locationDbId":"eb845a8a-7c7d-40d0-8aa9-83529d88aa45","locationName":"Urbana,
        IL","seasons":["6a2be5e5-d8d7-4133-a1e0-a7b480975418"],"studyName":"UEOPN_2021_Urbana","studyType":"RCBD","trialDbId":"73d95dac-9a0a-4982-967e-8cc396375cdc","trialName":"Uniform
        Oat Performance Nursery"},{"studyDbId":"49a29785-7896-43d3-a2da-f3b2306ca611","active":true,"additionalInfo":{"environmentNumber":"2"},"commonCropName":"Oat","experimentalDesign":{"pui":"Analysis","PUI":"Analysis","description":"Analysis"},"externalReferences":[{"referenceId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceID":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceSource":"breedinginsight.org/progr[...]
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/seasons?pageSize=10000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"@context":null,"metadata":{"datafiles":[],"status":[{"message":"User
        token expires at Sun Aug 17 07:12:55 UTC 292278994","messageType":"WARNING"}],"pagination":{"pageSize":10000,"totalCount":869,"totalPages":1,"currentPage":0}},"result":{"data":[{"seasonDbId":"0013df39-f4be-480f-b250-11fe8d41d420","seasonName":"2233","year":2233},{"seasonDbId":"00434c88-a78c-4351-9a1f-ea44bc703cb2","seasonName":"2577","year":2577},{"seasonDbId":"006eb73a-8ede-44c5-a485-4e6035092c8b","seasonName":"2824","year":2824},{"seasonDbId":"00ac165c-7d95-482a-86eb-05a5de5757a4","seasonName":"2219","year":2219},{"seasonDbId":"010223aa-037d-4d58-a413-ac6e116905c3","seasonName":"2579","year":2579},{"seasonDbId":"01041dfa-e2d6-4dfe-8786-a27f5e7cbed2","seasonName":"2857","year":2857},{"seasonDbId":"01397042-69ba-440e-aa53-20a7a1b7df02","seasonName[...]
- request:
    method: GET
    uri: https://rel-test.breedinginsight.net/v1/programs/f152169d-049f-4a7c-b5d8-c725b14e66f0/brapi/v2/observations?pageSize=10000
  response:
    status: 200
    headers:
      Content-Type: application/json
    body:
      string: '{"metadata":{"pagination":{"pageSize":1670,"totalCount":1670,"totalPages":1,"currentPage":0}},"result":{"data":[{"additionalInfo":{"createdBy":{"userId":"9381a364-4cc0-4782-a3e3-5a4208659c1b","userName":"Tyr
        Wiesner-Hanks"},"studyName":"UEOPN_2021_Urbana","createdDate":"2025-12-03T15:55:39.783967Z"},"externalReferences":[{"referenceId":"2743f8e6-fef9-4297-8dee-ec107edd1f74","referenceID":"2743f8e6-fef9-4297-8dee-ec107edd1f74","referenceSource":"breedinginsight.org/studies"},{"referenceId":"00205d6f-f3ed-4ba4-b7a5-e4d9eed1f16c","referenceID":"00205d6f-f3ed-4ba4-b7a5-e4d9eed1f16c","referenceSource":"breedinginsight.org/observations"},{"referenceId":"911dcddd-1569-4430-99b6-a2b436bdbc2b","referenceID":"911dcddd-1569-4430-99b6-a2b436bdbc2b","referenceSource":"breedinginsight.org/observationunits"},{"referenceId":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceID":"73d95dac-9a0a-4982-967e-8cc396375cdc","referenceSource":"breedinginsight.org/trials"},{"referenceId":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceID":"f152169d-049f-4a7c-b5d8-c725b14e66f0","referenceSource":"breedinginsight.org/programs"}],"germplasmDbId":"e71ccf65-4ea0-4254-bf4e-26b45d3f5ec4","germplasmName":"CLINTFORD","observationDbId":"00205d6f-f3ed-4ba4-b7a5-e4d9eed1f16c","observationUnitDbId":"911dcddd-1569-4430-99b6-a2b436bdbc2b","observationUnitName":"128","observationVariableDbId":"c3795a1b-4c56-4a54-a956-2041d52db27a","observationVariableName":"HeadingDate","season":{"seasonDbId":"6a2be5e5-d8d7-4133-a1e0-a7b480975418","seasonName":"2021","year":2021},"studyDbId":"2743f8e6-fef9-4297-8dee-ec107edd1f74","value":"157"},{"additionalInfo":{"createdBy":{"userId":"9381a364-4cc0-4782-a3e3-5a4208659c1b","userName":"Tyr
        Wiesner-Hanks"},"studyName":"UEOPN_2022_Volga","createdDate":"2025-12-03T15:55:39.954617Z"},"externalReferences":[{"referenceId":"004bdae6-7a2a-4079-ab85-0bdef1f921dd","referenceID":"004bdae6-7a2a-4079-ab85-0bdef1f921dd","referenceSource":"breedinginsight.org/observations"},{"referenceId":"72013f0b-a9cf-4fa4-bb78-450babdfc42e","referenceID":"72013f0b-a9cf-4fa4-bb78-450babdfc42e","refere[...]
